window#waybar {
    background: rgba(0, 0, 0, 0);
}

window#waybar > box {
    background-color: rgba(57, 155, 201, 0.45);
    background-image: url("/home/chris/Downloads/Frame14.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.10);
}

* {
    color: #EFFFF0;
    font-family: Inter, "SF Pro Display", sans-serif;
    font-size: 12px;
    text-shadow:
        -1px 0 rgba(0,0,0,0.85),
        1px 0 rgba(0,0,0,0.85),
        0 -1px rgba(0,0,0,0.85),
        0  1px rgba(0,0,0,0.85);
}

#workspaces button.active,
#pulseaudio {
  color: #26D926;
}
